#background{
    background-color: lightgray;}


.html{
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#login{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20vh;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-top: 20px;
    background-color: darkgray;
    border: 3px solid black;
}
#tabell{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
