
#background{
    background-color: lightgray;}

.input{
    display: block;
    align-items: center;
    text-align: center;
}
.html{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}